
## <summary>policy for sombe</summary>


########################################
## <summary>
##	Transition to sombe.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sombe_domtrans',`
	gen_require(`
		type sombe_t, sombe_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sombe_exec_t, sombe_t)
')


########################################
## <summary>
##	Execute sombe server in the sombe domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sombe_initrc_domtrans',`
	gen_require(`
		type sombe_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, sombe_initrc_exec_t)
')


########################################
## <summary>
##	Search sombe lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sombe_search_lib',`
	gen_require(`
		type sombe_var_lib_t;
	')

	allow $1 sombe_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read sombe lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sombe_read_lib_files',`
	gen_require(`
		type sombe_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, sombe_var_lib_t, sombe_var_lib_t)
')

########################################
## <summary>
##	Manage sombe lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sombe_manage_lib_files',`
	gen_require(`
		type sombe_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, sombe_var_lib_t, sombe_var_lib_t)
')

########################################
## <summary>
##	Manage sombe lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sombe_manage_lib_dirs',`
	gen_require(`
		type sombe_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, sombe_var_lib_t, sombe_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a sombe environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sombe_admin',`
	gen_require(`
		type sombe_t;
		type sombe_initrc_exec_t;
		type sombe_var_lib_t;
	')

	allow $1 sombe_t:process { ptrace signal_perms };
	ps_process_pattern($1, sombe_t)

	sombe_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 sombe_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, sombe_var_lib_t)

')

